body {
  margin      : 0;
  padding     : 0;
  font-size   : 13px;
  font-family : $font-family;
  background  : #eee;
}

a {
  text-decoration : none;
  color           : #c59131;

  &:hover {
	text-decoration : underline;
	color           : #da0;
  }

  &:active, &:hover {
	outline : 0;
  }
}

#indexBackground {
  background : #eee;
}

.line {
  margin        : 0;
  border-top    : 0;
  border-bottom : 1px solid rgba(255, 255, 255, 0.12);
  border-color  : rgba(148, 148, 148, 0.29);
  background    : rgba(255, 255, 255, 0);
  width: 100%;
  box-sizing: border-box;
}

.show_info {
  color       : #fff;
  font-size   : 13px;
  text-shadow : 1px 1px 0px rgba(0, 0, 0, 0.13);
  line-height : 21px;
  font-family : $font-family;
  display     : block;
  padding     : 15px 15px 15px 50px;
  position    : relative;
  margin      : 0px;
  background  : #2196f3;

  &::before {
	content     : "\f05a";
	font-family : "FontAwesome";
	padding     : 10px;
	position    : absolute;
	left        : 10px;
	font-size   : 17px;
	top         : 6px;
	color       : #fff;
	text-shadow : none;
  }

  &.warning {
	background : #E69319;
  }

  &.info_green {
	background : rgba(16, 137, 62, 1.0);
  }

  &.info_darkgrey {
	background : #5d5a58;
  }

  &.info_red, &.danger {
	background : rgb(204, 17, 0);
  }

  &.info_silver {
	background: #F7F7F7;
	color: #333;
	text-shadow: none;
  }

  .description {
	margin : 2px 0px;
  }

  &.custom {
	padding-left : 15px;
	&::before {
	  content : none;
	}
  }

  &.info_silverwhite {
	background: #FFFFFF;
	color: #333;
	text-shadow: none;
	border-bottom: 1px solid #E3E3E3;
  }

  &.header {
	display : flex;
	align-items: center;

	h3 {
	  display : inline-block;
	  flex-grow: 2;
	}

	a,button,form {
	  float : right;
	  margin :0px 0px 0px 5px;
	}

	button {
	  padding: 5px;
	}

	&::after{
	  @include clearfix;

	}
  }
}

#clear {
  clear : both;
}

.small_info {
  display        : inline-block;
  font-size      : 11px;
  padding        : 2px 5px;
  border-radius  : 3px;
  text-transform : capitalize;
  text-shadow    : 1px 1px 1px rgba(0, 0, 0, 0.18);
  margin         : 0px;
  box-sizing     : border-box;
  box-shadow     : 1px 1px 2px rgba(0, 0, 0, 0.1);
  line-height    : initial;

  &.active {
	background : #ace865;
	color      : #424242;
	border     : 1px solid #ace865;
  }

  &.major {
	background : #43aafd;
	color      : #fff;
	border     : 1px solid #51b2ff;
  }

  &.beta {
	background: #FF8F00;
	color: #fff;
	border: 1px solid #F57C00;
	margin: 0px 5px;
	border-radius: 0px;
  }

  &.waiting{
	background: #ffcc6f;
	color: 424242;
  }

  &.approved {
	background : #ace865;
	color      : #424242;
	border     : 1px solid #ace865;
  }

  &.deleted {
	background : #ff4e50;
	color      : #fff;
	border     : 1px solid #ff454a;
  }

  &.rejected {
	background : #69c;
	color      : #fff;
	border     : 1px solid #5e8acc;
  }
}

.dark_theme .search{
  background : url("../../img/search.png") no-repeat right 10px center;
}

.search {
  background : url("../../img/search.png") no-repeat right 10px center;

  &.small_search {
	margin       : 2px 5px;
	width        : 250px;
	border-color : rgba(255, 255, 255, 0.22);
	color        : #fff;
  padding-right: 35px;
  }

  &.big_search {
	width        : 100%;
	border-color : rgba(255, 255, 255, 0.1);
	color        : #fff;
	padding      : 15px 15px;
	font-size    : 18px;
	font-weight  : 100;
  }

  &.filter_search {
	width: 100%;
	border-color:rgba(255, 255, 255, 0.22);
	color: #404040;
	padding: 10px 35px 10px 10px;
	font-size: 15px;
	margin: 0px 0px 0px;
  }

  &:hover {
	border-color : rgba(255, 255, 255, 0.7);
  }

  &:focus {
	border-color : $musicbee-color;
  }

  &.dark {
	background : url("../../img/search_dark.png") no-repeat right 10px center;
	border-color: #d7d7d7;
	color : #333;

	&:hover {
	  border-color : $musicbee-color;
	}

	&:focus {
	  border-color : #333;
	}
  }

  &.no_icon {
    background : none;
  }
}

.notify {
  max-width  : 100%;
  margin     : 0 auto;
  position   : fixed;
  padding    : 0px;
  background : #9e9e9e;
  text-align : center;
  border     : 0;
  right      : 20px;
  bottom     : 20px;
  box-sizing : border-box;
  box-shadow : 1px 1px 4px rgba(0, 0, 0, 0.28);
  color      : white;
  display    : flex;
  z-index    : 100;

  &.green_color {
	background : #4caf50;
  }

  &.yellow_color {
	background : #E69319;
  }

  &.red_color {
	background : #e53935;
  }

  .notify_wrap_left {
	padding    : 15px 10px 15px 20px;
	text-align : left;
  }

  .closeNotify {
	padding    : 10px 15px;
	min-width  : inherit;
	background : none;
	border     : 0px;
	color      : #fff;
	background : #464646;
	margin     : 0px;
  }

  #copy_error {
	display: inline-block;
	margin-left: 10px;
  }
}

#disable_overlay {
  position   : fixed;
  width      : 100%;
  height     : 100%;
  top        : 0px;
  background : rgba(255, 255, 255, 0.29);
  z-index    : 100;
}

.space {
  &.micro{
	padding:10px;
  }

  &.tiny {
	padding: 20px;
  }

  &.small {
	padding: 50px;
  }

  &.medium {
	padding : 100px;
  }
}

#ajax_area {
  min-height : 500px;
}

.pagination {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  li {
	list-style: none;

	.btn {
	  margin: 5px 0px 5px 5px;
	  min-width: inherit;
	  p {
		margin: 0px;
	  }
	  &.active {
		background: rgb(255, 255, 255);
		color: #333;
		box-shadow: inset 2px 2px 0px #2196F3, inset -2px -2px 0px #2196F3;
	  }
	}
  }
}

.wmd-panel {
  width: 100%;
}

.tagsinput {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #d7d7d7;
  box-sizing: border-box;
  width: 60%;
  transition: linear all 0.15s;

  &.disabled {
	background-color : #F9F9F9;
  }

  .tag {
	align-self: center;
	padding: 5px 10px;
	margin: 5px 5px;
	border: 1px solid #D7D7D7;
	background: #FFFBDC;
	border-radius: 2px;

	a {
	  &::after {
		content: "\f00d";
		font-family: FontAwesome;
	  }
	}
  }
  #tag_addTag {
	input {
	  border: none;
	  padding: 10px 5px;
	  margin: 2px;
	  &.not_valid {
		background: #FBD8DB !important;
		color: #90111A !important;
	  }
	}
  }

  &:hover {
	border: 2px solid #ff9800;
  }
}

.lang_selector {
  background-color: #fff;
}