/*
For light theme use xcode style
*/
.hljs {
	display    : block;
	overflow-x : auto;
	padding    : 0.5em;
	background : #fff;
	color      : black;
}

.hljs-comment,
.hljs-quote {
	color : #006a00;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
	color : #aa0d91;
}

.hljs-name {
	color : #008;
}

.hljs-variable,
.hljs-template-variable {
	color : #660;
}

.hljs-string {
	color : #c41a16;
}

.hljs-regexp,
.hljs-link {
	color : #080;
}

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number,
.hljs-meta {
	color : #FF5722;
}

.hljs-section,
.hljs-class .hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
	color : #2C75AF;
}

.hljs-attribute,
.hljs-subst {
	color : #000;
}

.hljs-formula {
	background-color : #eee;
	font-style       : italic;
}

.hljs-addition {
	background-color : #baeeba;
}

.hljs-deletion {
	background-color : #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
	color : #9b703f;
}

.hljs-doctag,
.hljs-strong {
	font-weight : bold;
}

.hljs-emphasis {
	font-style : italic;
}

/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */
.dark, .dark_theme  {
	.hljs {
		display    : block;
		overflow-x : auto;
		padding    : 0.5em;
		background : #282b2e !important;
	}

	.hljs-keyword,
	.hljs-selector-tag,
	.hljs-literal,
	.hljs-selector-id {
		color : #93c763;
	}

	.hljs-number {
		color : #ffcd22;
	}

	.hljs {
		color : #e0e2e4;
	}

	.hljs-attribute {
		color : #668bb0;
	}

	.hljs-code,
	.hljs-class .hljs-title,
	.hljs-section {
		color : white;
	}

	.hljs-regexp,
	.hljs-link {
		color : #d39745;
	}

	.hljs-meta {
		color : #557182;
	}

	.hljs-tag,
	.hljs-name,
	.hljs-bullet,
	.hljs-subst,
	.hljs-emphasis,
	.hljs-type,
	.hljs-built_in,
	.hljs-selector-attr,
	.hljs-selector-pseudo,
	.hljs-addition,
	.hljs-variable,
	.hljs-template-tag,
	.hljs-template-variable {
		color : #8cbbad;
	}

	.hljs-string,
	.hljs-symbol {
		color : #ec7600;
	}

	.hljs-comment,
	.hljs-quote,
	.hljs-deletion {
		color : #818e96;
	}

	.hljs-selector-class {
		color : #a082bd;
	}

	.hljs-keyword,
	.hljs-selector-tag,
	.hljs-literal,
	.hljs-doctag,
	.hljs-title,
	.hljs-section,
	.hljs-type,
	.hljs-name,
	.hljs-strong {
		font-weight : bold;
	}
}

