.record {
	width: 100%;
	border-spacing: 0px;

	tr {
		&:nth-child(2n+1){
			background: rgba(0, 0, 0, 0.03);
		}
		td {
			padding: 10px 15px;
			border-spacing: 0px;

			&.action_input {
				display: flex;
				flex-direction: row-reverse;

				.btn {
					padding: 5px 10px;
					min-width: inherit;
				}
			}

			&.status {
				width: 15%;
			}
		}

		&.record_removed {
			background: #D45B53;
			color: #fff;

			td {
				p {
					margin: 10px;
				}
			}
		}
	}

	thead { 
		tr {
			td {
				font-weight: bold;
				text-transform: uppercase;
				color: #616161;
			}

			&:nth-child(1) {
				background: #fff;
			}
		}
	}

}

.link_list {
	padding: 0px;
	margin: 0px;
	li{
		list-style:none;

		a{
			padding: 15px 15px;
			display: block;

			&:hover {
				background: #eee;
				text-decoration: none;
			}
		}
	}
}

.form {
	.remove_img_btn {
		background: #EFEFEF !important;
		color: #333 !important;
		padding: 2px 5px !important;
		margin: 2px 0px 10px 0px !important;
		box-shadow: none !important;
		width: inherit !important;
	}

	#mbVerFeedback {
		width: 100%;
	}
	.counter {
		text-align: right;
		width: 100%;
	}

	textarea{
		&#description, &#imp_msg {
			width: 60%;
			max-width: 60%;
			height: 100px;
		}
	}
}

@media screen and(max-width: $break-small) {
	.side_links{
		display: none;
	}
}