.fontsmooth-false {
	body {
  		font-family : $font-family-alt !important;
	}
	h1,h2,h3,p{
		font-family : $font-family-alt1 !important;
	}
	h4,h5,h6 {
		font-family : $font-family-alt !important;
	}
	.show_info{
		font-family : $font-family-alt1 !important;
	}
	input, textarea, select{
		font-family : $font-family-alt1 !important;
	}

	/**
	 * Forum Style Fix
	 */
	.navigate_section ul li a{
		font-family : $font-family-alt1 !important;
	}

	.smalltext, tr.smalltext th{
		font-family : $font-family-alt !important;
	}

	.stat_meter li p {
			font-family : $font-family-alt !important;
	}

	p.stat_countlabel {
		font-family : $font-family-alt !important;
	}
}