$menu_bg : #333;
$menu_pos : relative;
$menu_max_width : 1200px;
$secondery_menu_max_width : 1200px;
$secondery_menu_bg: rgba(0,0,0,0.1);

.overlay {
	.mainmenu { background: transparent; }
	.is-sticky .mainmenu { 
		background: $menu_bg; 
		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
	}
} 

.mainmenu {
	width: 100%;
	background: $menu_bg;
	display: block;
	position: $menu_pos;
	margin: 0 auto;
	z-index: 20;
	transition: all 200ms linear 40ms;

	.menu_wrapper {
		max-width: $menu_max_width;
		width: inherit;
		font-size: 16px;
		line-height: normal;
		float: none;
		display: block;
		padding-top: 0;
		margin: 0 auto;

		.menu_position {
			margin: 0;
			padding: 0;
			display: inline-block;
			&.menu_right {
				float: right;
			}
			&.menu_left {
				float: left;
			}

			li {
				display: block;
				margin: 0;
				padding: 0px;
				float: left;
				position: relative;

				a{
					background: none;
					margin: 0;
					padding: 20px 15px;
					transition: all linear .2s;
					text-decoration: none;
					@include font_family_normal;
					font-size: 14px;
					font-weight: bold;
					text-transform: uppercase;
					color: #FFFFFF;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
					display: inline-block;

					&:hover {
						background: none;
						text-decoration: none;
						color: $musicbee-color;
						box-shadow: inset 0px -4px 0px $musicbee-color;
					}
				}

				.nav_dropdown_sub {
					height: 0px;
					overflow: hidden;
					background: rgb(68, 68, 68);
					display: block;
					position: absolute;
					z-index: 1;
					width: 200px;
					max-width: 300px;
					box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.44);
					opacity: 0;
					transition: linear all 0.2s;
					left: 0px;
					margin: 0px;
					padding: 0px;

					li {
						float: left;
						width: 100%;
						a {
							width: 100%;
							padding: 15px 15px;
							display: block;
							box-sizing: border-box;
							text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.33);
							box-shadow: none;
							transition: linear all 0.03s;

							&:hover {
								background: $musicbee-color;
								color: white;
								box-shadow: none;
							}
						}
					}

					&.dropdown_right {
						right: 0px;
						left: inherit;
					}

					&:after {
						@include clearfix;
					}
				}
				&:hover .nav_dropdown_sub{
					height: auto;
					opacity: 1;
				}
			}
			&:after {
				@include clearfix;
			}
		}

		&:after {
			@include clearfix;
		}
	}
}

.secondery_nav {
	margin: 0;
	padding: 0;
	background: $secondery_menu_bg;
	width: 100%;
	z-index: 96;
	transition: linear all .1s;

	.secondery_nav_wrap {
		max-width: $secondery_menu_max_width;
		box-sizing: border-box;
		margin: 0 auto;
		display: block;

		ul, li, ol {
			list-style: none;
		}

		ul {
			margin: 0;
			padding: 0;
			border: 0;
			display: inline-block;
			float: left;

			li {
				float: left;
				display: inline-block;

				a {
					color: rgba(255, 255, 255, 0.8);
					padding: 15px;
					display: block;
					transition: linear all .15s;
					margin: 0;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
					box-shadow: none;
					background: transparent;
					text-decoration: none;

					&:hover {
						text-decoration: none;
						color: white;
						box-shadow: inset 0 -3px 0 white;
					}
				}

				.nav_dropdown_sub {
					height: 0px;
					overflow: hidden;
					background: rgb(68, 68, 68);
					display: block;
					position: absolute;
					z-index: 1;
					width: 200px;
					max-width: 300px;
					box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.44);
					opacity: 0;
					transition: linear all 0.2s;
					left: 0px;
					margin: 0px;
					padding: 0px;

					li {
						float: left;
						width: 100%;
						a {
							width: 100%;
							padding: 5px 15px;
							display: block;
							box-sizing: border-box;
							text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.33);
							box-shadow: none;
							transition: linear all 0.03s;
							text-decoration: none;

							&:hover {
								background: $musicbee-color;
								color: white;
								box-shadow: none;
							}
						}
					}

					&.dropdown_right {
						right: 0px;
						left: inherit;
					}

					&:after {
						@include clearfix;
					}
				}
				&:hover .nav_dropdown_sub{
					height: auto;
					opacity: 1;
				}
			}

			&.left {
				float: left;
			}

			&.right {
				float: right;
			}

			&:after {
				@include clearfix;
			}
		}

		&:after {
			@include clearfix;
		}
	}
}