$menu_bg : #333;
$menu_pos : relative;
$menu_max_width : 1000px;

.mainmenu {
	width: 100%;
	background: $menu_bg;
	display: block;
	position: $menu_pos;
	margin: 0 auto;
	z-index: 20;

	.menu_wrapper {
		max-width: $menu_max_width;
		width: inherit;
		font-size: 16px;
		line-height: normal;
		float: none;
		display: block;
		padding-top: 0;
		margin: 0 auto;

		.menu_position {
			margin: 0;
			padding: 0;
			.menu_right {
				float: right;
			}
			.menu_left {
				float: left;
			}

			&:after {
				clear:both;
				display: table;
			}

			li {
				display: block;
			    margin: 0;
			    padding: 0px;
			    float: left;

			    a{
			    	background: none;
				    margin: 0;
				    padding: 20px 15px;
				    transition: all linear .2s;
				    text-decoration: none;
				    font-size: 14px;
				    font-weight: bold;
				    font-family: Roboto;
				    text-transform: uppercase;
				    color: #FFFFFF;
				    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.62);
				    display: inline-block;

				    &:hover {
				    	background: none;
					    text-decoration: none;
					    color: #FFA500;
					    box-shadow: inset 0px -4px 0px #FFA500;
				    }
			    }

			    .nav_dropdown_sub {
				    /* float: right; */
				    height: 0px;
				    overflow: hidden;
				    background: rgb(68, 68, 68);
				    display: block;
				    position: absolute;
				    z-index: 1;
				    max-width: 300px;
				    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.44);
				    opacity: 0;
				    transition: linear all 0.2s;

					li {
					    float: left;
					    width: 100%;
						a {
						    width: 100%;
						    padding: 15px 15px;
						    display: block;
						    box-sizing: border-box;
						    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.33);
						}
					}
				}
			}
		}

		&:after {
			clear:both;
			display: table;
		}
	}
}