.main_content_wrapper {
	display: flex;
	min-height: 400px;
	max-width: 1200px;
	margin: 0px auto;
	flex-wrap: wrap;

	&.col_1_2 {
		.sub_content_wrapper:nth-child(1) {
			width: 33.33333333333333%;

			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
		.sub_content_wrapper:nth-child(2) {
			width: 66.66666666666667%;
			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
	}

	&.col_2_1 {
		.sub_content_wrapper:nth-child(1) {
			width: 66.66666666666667%;

			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
		.sub_content_wrapper:nth-child(2) {
			width: 33.33333333333333%;
			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
	}

	&.col_1{
		.sub_content_wrapper {
			width: 100%;
			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
	}

	&.col_2{
		.sub_content_wrapper {
			width: 50%;
			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
	}

	&.col_3{
		.sub_content_wrapper {
			width: 33.33333333333333%;
			@media screen and (max-width: $break-small) {
				width: 100%;
			}
		}
	}
}

.sub_content_wrapper {

	.box_content {
		margin: 20px 10px 5px 10px;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.18);
		background: #fff;

		.info_text{
			padding: 20px;
		}

		.info_table_wrap {
			display: block;
			box-sizing: border-box;
			padding: 5px 20px;
		}

		.flat_info_bar {
			list-style: none;
			margin: 0px;
			padding: 0px;
			display: flex;
			flex-wrap : wrap;

			li {
				list-style: none;
				margin: 0px;
				padding: 10px;
				padding: 0px 15px 0px 15px;
				box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.25);
			}

			&::after {
				@include clearfix;
			}
		}
		.message {
			text-align: center;
			padding:20px 10px;
		}

		ul.form {
			padding: 10px 20px;
			margin: 0px;

			.link_input {
				width: 60%;

				.flex_input {
					display: flex;
					flex-wrap: wrap;
					margin: 0px 0px 5px 0px;

					&.col_3 {

					}

					&.col_2 {
						input {
							width: 80%;
						}

						.btn {
							width: 20%;
							margin: 0px;
						}
					}

					.btn {
						min-width: inherit;
						margin: 0px 0px 0px 5px;
					}
				}
			}

			li {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				padding: 10px 0px;

				label {
					width: 40%;
					padding-right: 10px;
					box-sizing: border-box;

					.description {
						color: #A9A9A9;
						margin: 0px;
					}
				}

				input, select {
					width: 60%;
					align-self: center;
				}
			}
		}

		&::after {
			@include clearfix;
		}
	}
}

.no_release_note {
	display: block;
	padding: 30px 20px;
	background-size: 120px;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: right -20px bottom -40px;

	&::before {
		content: attr(data-no-release-text);
		display: block;
		color: #656565;
		white-space: pre-line;
	}
}

#release_note_jump {
	margin: 4px 0px;
}