$h1_size : 35px;

h1 {
	font-family: $font-family;
	font-size: $h1_size;
	font-weight: 300;
	margin: inherit;
}

h2 {
	font-family: $font-family;
	font-size: 25px;
	font-weight: 300;
	margin: inherit;
}

h3 {
	font-family: $font-family;
	font-size: 20px;
	font-weight: 300;
	margin: inherit;
}

h4 {
	font-family: $font-family;
	font-size: 17px;
	font-weight: 300;
	margin: inherit;
}