

.mb-herobutton-large {
	color: white;
	padding: 10px 15px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	transition: linear all .15s;

	&:hover{
		background: none;
	}

	&::after{
		content: attr(data-mb-secondline);
		display: block;
		font-size: 12px;
		margin: 0px;
	}

	&.mb-herobutton-large-wireframe{
		background: none;
	}
}

.mb-button-download {
    background: #fff;
    color: #333;
    border-color: #fff;
    transition: linear all .15s;
    font-size: 20px;
    font-weight: normal;
    font-family: $font-family;
    line-height: 25px;
}

.mb-button-feature {
    color: #fff;
    border-color: #fff;
    transition: linear all .15s;
    font-size: 20px;
    font-weight: normal;
    font-family: $font-family;
    line-height: 25px;
}
