$font-size : 12px;
$font-family : "Roboto", "sans-serif", verdana;
$font-color : #333;

$musicbee-color : rgba(255, 152, 0, 1);

$break-large : 1200px;
$break-medium : 1000px;
$break-small : 800px;
$break-tiny : 600px;
$break-mini : 500px;

$break-secondery-nav : 700px;




