#URL rewriter
AddDefaultCharset UTF-8
Options +FollowSymlinks
RewriteEngine On
RewriteBase /

#do not perform rewrite in the following directory
RewriteRule ^includes - [L,NC]
RewriteRule ^views - [L,NC]
RewriteRule ^pages - [L,NC]
RewriteRule ^tasks - [L,NC]
