$font-size : 12px;
$font-family : "Roboto", "Segoe UI", "sans-serif";
$font-family-alt : "Verdana", "Segoe UI", "sans-serif";
$font-family-alt1 : "Segoe UI", "sans-serif";
$font-color : #333;

$musicbee-color : rgba(255, 152, 0, 1);

$break-large : 1200px;
$break-medium : 1000px;
$break-small : 800px;
$break-tiny : 600px;
$break-mini : 500px;
$break-micro : 350px;

$break-secondery-nav : 701px;
$break-primary-nav : 731px;




