<menu></menu>
<div id="main_panel">
    <div class="main_content_wrapper col_2_1">
        <div class="sub_content_wrapper">
            <div class="box_content">
                <div class="markdownView box" id="content">
                    <h4><strong>MusicBee Website is created and maintained by AvikB</strong></h4>
                    <p><strong>A huge thanks to all the MusicBee community members for sharing their ideas and help me
                        testing and proofreading the site</strong></p>
                    <hr/>
                    <p><a id="github_link" href="#" class="btn btn_blue"><i class="fa fa-github"></i> Go to Project
                        Github page </a></p>
                    <p>Copyright under Creative Commons Attribution-ShareAlike 3.0 Unported, for details visit:</p>
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/">https://creativecommons.org/licenses/by-sa/3.0/</a>
                    <hr/>
                    <p>The project is fully opensource for anyone to see the code behind. You can <strong>download,
                        modify and share</strong> the code however you want as long as it meets the creative commons
                        license agreement.</p>
                    <p>However since this project was specially designed for MusicBee's new home, a lots of the code
                        might contain the term <code>MusicBee</code>, which you need to remove or modify before use
                        this.</p>
                    <hr/>
                    <h3>Website Translation Credit</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Language</th>
                            <th>Code</th>
                            <th>Translated by</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>English (default)</td>
                            <td>en_US</td>
                            <td>AvikB, and fixes from phred and other community members</td>
                        </tr>
                        <tr>
                            <td>Russian</td>
                            <td>ru_RU</td>
                            <td>boroda74</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr/>
                    <h3>MusicBee website version: <span id="webver"></span></h3>
                </div>
            </div>
            <div class="space medium"></div>
        </div>
    </div>
</div>