<menu></menu>
<div class="main_panel">
    <div class=" mb_landing  content mb_download_installer_bg">
        <div class="sub_content">
            <h2 data-gettext="true"><? _("Download MusicBee") ?></h2>
            <h4 data-gettext="true"><? _("Start enjoying your music experience with MusicBee!") ?></h4>
            <div class="installer_panel_wrapper">
                <div class="installer_layer_wrapper">
                    <h2 data-gettext="true" data-gettext-id="stable-release-name"><? _("MusicBee %s") ?></h2>
                    <p data-gettext="true" data-gettext-id="stable-release-date"><? _("Released on %s") ?></p>
                    <p data-gettext="true" data-gettext-id="download-os"><? _("For %s") ?></p>
                    <p><a data-gettext-id="changelog-btn" href="release-note"
                          data-gettext="true"><? _("Release Notes") ?></a></p>
                </div>
                <section id="stable-download">
                    <div class="installer_layer_wrapper installer_non_portable">
                        <h3 data-gettext="true"><? _("Installer Edition") ?></h3>
                        <p data-gettext="true"><? _("This edition will install MusicBee on your Windows system drive") ?></p>
                        <a id="link1" href="" target="_blank" class="btn btn_blacknwhite btn_download">
                            <i class="fa fa-download"></i> <span data-gettext="true"><? _("Get MusicBee Installer") ?></span>
                        </a>
                        <br/>
                        <a id="link2" href="" target="_blank" class="btn btn_blacknwhite btn_download">
                            <span data-gettext="true"><? _("Mirror 1") ?></span>
                        </a>
                        <a id="link3" href="" target="_blank" class="btn btn_blacknwhite btn_download">
                            <span data-gettext="true"><? _("Mirror 2") ?></span>
                        </a>
                    </div>

                    <div class="installer_layer_wrapper mb_portable_download_bg">
                        <h3 data-gettext="true"><? _("Portable Edition") ?></h3>
                        <p data-gettext="true"><? _("This edition can be installed in other locations, such as another partition or USB drive") ?></p>
                        <a id="plink1" href=""
                           target="_blank" class="btn btn_blacknwhite btn_download">
                            <i class="fa fa-download"></i> <span data-gettext="true"><? _("Get MusicBee Portable") ?></span>
                        </a>
                    </div>

                    <div class="space micro"></div>
                    <div class="installer_layer_wrapper mb_portable_download_bg">
                        <h3 data-gettext="true"><? _("Latest Patch") ?></h3>
                        <p data-gettext-id="patch-version" data-gettext="true"><? _("Version %s") ?></p>
                        <hr class="line">
                        <p data-gettext="true"><? _("Patches are much more frequent and contain bug fixes. You will need to have MusicBee installed first before applying a patch update.") ?></p>
                        <a data-gettext-id="patch-link" href="" target="_blank"
                           class="btn btn_blacknwhite btn_download"
                           data-gettext="true">
                            <? _("Download") ?>
                        </a>
                    </div>
                </section>
                    <div class="space micro"></div>
                    <div id="stable-disable-msg" class="installer_layer_wrapper installer_non_portable">
                        <h3 data-gettext="true"><? _("Downloads are disabled!") ?></h3>
                        <p class="show_info" data-gettext="true">
                            <? _("Sorry for the inconvenience. This is probably temporary. Please check the forum or come back later.") ?>
                        </p>
                    </div>

            </div>
            <div class="download_img_link_wrapper">
                <div class="download_img_links">
                    <ul>
                        <li>
                            <a data-gettext-id="help-link" href="">
                                <i class="fa fa-graduation-cap learn"></i>
                                <h1 data-gettext="true"><? _("Learn MusicBee features") ?></h1>
                                <p data-gettext="true"><? _("Check our FAQ and Wiki or get help on forum") ?></p>
                            </a>

                        </li>
                        <li>
                            <a data-gettext-id="addon-link" href="">
                                <i class="fa fa-puzzle-piece plugin"></i>
                                <h1 data-gettext="true"><? _("Get Skins and Plugins") ?></h1>
                                <p data-gettext="true"><? _("Check our Add-on for skins, plugins and more") ?></p>
                            </a>

                        </li>
                        <li>
                            <a data-gettext-id="forum-link" href="">
                                <i class="fa fa-comments-o community"></i>
                                <h1 data-gettext="true"><? _("Meet MusicBee community") ?></h1>
                                <p data-gettext="true"><? _("Join us on forum, follow us on twitter and share your experience") ?></p>
                            </a>

                        </li>
                        <li>
                            <a data-gettext-id="donation-link" href="" target="_blank">
                                <i class="fa fa-heartbeat love"></i>
                                <h1 data-gettext="true"><? _("Love MusicBee?") ?></h1>
                                <p data-gettext="true"><? _("You can also support MusicBee with a voluntary donation") ?></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="content mb_beta_download_bg" id="beta">
        <div class="sub_content">
            <h2 data-gettext="true"><? _("MusicBee Beta") ?></h2>
            <h4><b data-gettext="true"><? _("The beta version is under active development and is not the current stable version. It is intended for anyone interested in trying the latest features or bug fixes. You should regularly check the forum for updates.") ?></b></h4>
            <p data-gettext-id="beta-version"       data-gettext="true"><? _("Version %s") ?></p>
            <p data-gettext-id="beta-release-date"  data-gettext="true"><? _("Released on %s") ?></p>
            <p data-gettext-id="beta-supported-os"  data-gettext="true"><? _("For %s") ?></p>
            <br/>
			<p data-gettext-id="beta-msg" class="show_info">This is a beta message!</p>
            <a data-gettext-id="beta-link" href="" target="_blank"
               class="btn btn_blacknwhite btn_download">
                <i class="fa fa-warning"></i> <span data-gettext="true"><? _("Get MusicBee Beta") ?></span>
            </a>
        </div>
    </div>
    <div data-gettext-id="space-no-beta" class="space tiny"></div>
</div>