<menu></menu>
<div id="main_panel">
    <div class="main_content_wrapper col_2_1">
        <div class="sub_content_wrapper">

            <div class="box_content">
                <div class="show_info custom">
                    <ul class="grid col_2" id="top_help_palette">
                        <li>
                            <a href="" target="_blank">
                                <div>
                                    <span></span>
                                    <p></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box_content" id="faq">
                <div class="show_info custom info_silver">
                    <h3 data-gettext="true"><? _("FAQ (Frequently Asked Question)") ?></h3>
                </div>
                <div id="faq-view" class="markdownView box faq"></div>
            </div>

        </div>

        <div class="sub_content_wrapper">

            <div class="box_content">
                <div class="show_info custom info_silver">
                    <h3 data-gettext="true"><? _("Help for Users") ?></h3>
                </div>
                <ul class="link_list" id="sidebar_userhelp">
                    <li>
                        <a href="#" target="">User help links</a>
                    </li>

                </ul>
            </div>

            <div class="box_content">
                <div class="show_info custom info_silver">
                    <h3 data-gettext="true"><? _("Help for Developers") ?></h3>
                </div>
                <ul class="link_list" id="sidebar_devhelp">
                    <li>
                        <a href="#" target="">Developer help links</a>
                    </li>

                </ul>
            </div>
            <div class="box_content">
                <div class="show_info custom info_silver">
                    <h3 data-gettext="true"><? _("Most Popular Wiki posts") ?></h3>
                </div>
                <ul class="link_list" id="sidebar_wiki_popular">
                    <li>
                        <a href="" target="_blank"></a>
                    </li>
                </ul>
            </div>


            <div class="box_content">
                <div class="show_info custom info_silver">
                    <h3 data-gettext="true"><? _("Most Viewed Wiki Articles") ?></h3>
                </div>
                <ul class="link_list" id="sidebar_wiki_viewed">
                    <li>
                        <a href="" target="_blank"></a>
                    </li>
                </ul>
            </div>


            <div class="box_content">
                <div class="show_info custom info_silver">
                    <h3 data-gettext="true"><? _("New Wiki Articles") ?></h3>
                </div>
                <ul class="link_list" id="sidebar_wiki_new">
                    <li>
                        <a href="" target="_blank"></a>
                    </li>
                </ul>
            </div>



        </div>

    </div>
</div>
<div class="space medium"></div>