<div class="mb_landing_overlay mb_intro_top">
    <div class="overlay">
        <menu></menu>
        <section class="mb_landing align_right">
            <div class="sub_content">
                <div class="hero_text_top">
                    <div class="text_wrapper text_white">
                        <h1 data-gettext="true"><?= __("MusicBee - The Ultimate Music Manager and Player"); ?></h1>
                        <h4 data-gettext="true"><?= __("MusicBee makes it easy to manage, find, and play music files on your computer. MusicBee also supports podcasts, web radio stations and SoundCloud integration"); ?></h4>
                    </div>
                </div>
                <div class="hero_img_top">
                    <div class="hero_img_wrapper hero_img_topmost_wrap">
                        <img data-url="http" src="hero_img/hero-img-top-min.png">
                    </div>
                </div>
            </div>
            <div class="sub_content_bottom">
                <div class="sub_content hero_buttons">
                    <h4 data-gettext="true"><?= __("Get MusicBee, you will never go back. And it's free!"); ?></h4>
                    <a data-gettext-id="download-btn" id="hero-download-btn" href="downloads"
                       class="btn btn_wireframe btn_wireframe_yellow">
                        <h3 data-gettext="true"><?= __("Download Now"); ?></h3>
                        <p data-gettext-id="download-os"><?= __("For %s"); ?></p>
                    </a>
                    <a
                            id="feature_scroll"
                            class="btn btn_wireframe btn_wireframe_blue"
                            href="javascript:void(0)"
                    >
                        <h3 data-gettext="true"><?= __("Check out features"); ?></h3>
                        <p data-gettext="true"><?= __("See the best of MusicBee"); ?></p>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="mb_landing align_center">
    <div class="sub_content" id="simple_powerful">
        <div class="hero_text_top text_black">
            <h2 data-gettext="true" data-sr="enter top"><?= __("Simple, Powerful, and Fast"); ?></h2>
            <h4 data-gettext="true"
                data-sr="enter bottom"><?= __("Play your music the way you want. Turn your computer into a music jukebox. Use auto-tagging to clean up your messy music library. Enjoy a great music experience with MusicBee."); ?></h4>
        </div>
        <div class="hero_img_top">
            <img data-url="http" src="hero_img/mb-hero-interface-min.png" data-sr="vFactor 0.2">
        </div>
    </div>
</div>

<div class="mb_quality_top mb_landing align_center">
    <div class="mb_landing overlay">
        <div class="sub_content">
            <h2 data-gettext="true" data-sr='move 24px'><?= __("Sound Quality Matters"); ?></h2>
            <h4 data-gettext="true"
                data-sr="enter bottom"><?= __("Whether you play your music on an audiophile setup or on a laptop, MusicBee is designed with features to fulfill all your needs."); ?></h4>

            <ul class="feature_box">
                <li>
                    <div data-sr="vFactor 0.2">
                        <p class="feature_ico">
                            <i class="fa fa-sliders"></i>
                        </p>
                        <p data-gettext="true">
                            <?= __("Fine-tune the sound with the 10-band or 15-band Equalizer and DSP effects"); ?>
                        </p>
                    </div>
                </li>
                <li>
                    <div data-sr="vFactor 0.2">
                        <p class="feature_ico">
                            <i class="fa fa-headphones"></i>
                        </p>
                        <p data-gettext="true"><?= __("Utilize high-end audio cards with WASAPI and ASIO support"); ?></p>
                    </div>
                </li>
                <li>
                    <div data-sr="vFactor 0.2">
                        <p class="feature_ico">
                            <i class="fa fa-play"></i>
                        </p>
                        <p data-gettext="true"><?= __("Listen to music without interruption with gapless playback"); ?></p>
                    </div>
                </li>

                <li>
                    <div data-sr="vFactor 0.2">
                        <p class="feature_ico">
                            <i class="fa fa-bullseye"></i>
                        </p>
                        <p data-gettext="true">
                            <?= __("Upmix stereo to 5.1 surround sound, or resample track to lower bitrate"); ?>
                        </p>
                    </div>
                </li>
                <li>
                    <div data-sr="vFactor 0.2">
                        <p class="feature_ico">
                            <i class="fa fa-sort-amount-asc"></i>
                        </p>
                        <p data-gettext="true"><?= __("Use logarithmic volume scaling or normalize volume streaming"); ?></p>
                    </div>
                </li>
                <li>
                    <div data-sr="vFactor 0.2">
                        <p class="feature_ico">
                            <i class="fa fa-plug"></i>
                        </p>
                        <p data-gettext="true"><?= __("Even better, MusicBee supports some WinAmp plugins to enhance your music"); ?></p>
                    </div>
                </li>
                <div id="clear"></div>
            </ul>
        </div>
    </div>
</div>


<section class="mb_landing align_right">
    <div class="sub_content">
        <div class="hero_text_top">
            <div class="text_wrapper text_black">
                <h1 data-gettext="true"><?= __("Beautiful Skins"); ?></h1>
                <h4 data-gettext-id="hero-text"><?= __("<div>Change the appearance of MusicBee by choosing from the included skins or download more from our Add-on section.<br/>Skins are a great way to personalize MusicBee to your liking. You can also make your own skin and share it with others.</div>"); ?></h4>
            </div>
        </div>
        <div class="hero_img_top">
            <div class="hero_img_wrapper">
                <img data-url="http" src="hero_img/hero-img-skin-min.png">
            </div>
        </div>
    </div>
</section>

<section class="mb_landing align_left alternate_landing_row_bg">
    <div class="sub_content">
        <div class="hero_text_top">
            <div class="text_wrapper text_black">
                <h1 data-gettext="true"><?= __("Sync with Devices"); ?></h1>
                <h4 data-gettext-id="hero-text"><?= __("<div>Sync your music collection with devices you use. MusicBee supports playlist and podcast syncing, even supports audio books with 2 way syncing.<br/>Convert formats on the fly if your device does not support certain formats. <br/><br/>You can also sync your Android and Windows Phone (8.1+) devices.</div>"); ?></h4>
            </div>
        </div>
        <div class="hero_img_top">
            <div class="hero_img_wrapper">
                <img data-url="http" src="hero_img/hero-img-sync-min.png">
            </div>
        </div>
    </div>
</section>

<section class="mb_landing align_right bg_blue">
    <div class="sub_content">
        <div class="hero_text_top">
            <div class="text_wrapper text_white">
                <h1 data-gettext="true"><?= __("Groove Music Support"); ?></h1>
                <h4 data-gettext-id="hero-text"><?= __("<div>MusicBee has native support for Groove Music (formerly Xbox Music). You can stream directly from MusicBee or add to your existing playlist, get song recommendations from the vast Groove catalog.<br/><br/>Want to listen to a song before buy? You can listen to preview.</div>"); ?></h4>
            </div>
        </div>
        <div class="hero_img_top">
            <div class="hero_img_wrapper">
                <img data-url="http" src="hero_img/hero-img-groove-min.png">
            </div>
        </div>
    </div>
</section>

<section class="mb_landing align_left">
    <div class="sub_content">
        <div class="hero_text_top">
            <div class="text_wrapper text_black">
                <h1 data-gettext="true"><?= __("last.fm, CD Ripping, Tagging tools.... plus more!"); ?></h1>
                <h4 data-gettext-id="hero-text"><?= __("<div>MusicBee packs a comprehensive set of features to make your music experience better. <br/><br/>Yet it is <b>one of the most lightweight player</b> using about 25-70 MB ram* with skins and add-ons, and packs all of these under 10 MB!</div>"); ?></h4>
            <br/><br/>
                <p class="disclaimer" data-gettext="true">
                    <?= __("*Tested with MusicBee 3 with a library of 200 albums, sized around 3GB."); ?></p>
            </div>
        </div>
        <div class="hero_img_top">
            <div class="hero_img_wrapper">
                <img data-url="http" src="hero_img/mb_tag_feature.png">
            </div>
        </div>
    </div>
</section>

<section class="mb_landing align_right alternate_landing_row_bg">
    <div class="sub_content">
        <div class="hero_text_top">
            <div class="text_wrapper text_black">
                <h1 data-gettext="true"><?= __("The Best.... rated by reviewers and users"); ?></h1>
                <h4 data-gettext-id="hero-text"><?= __("<div>MusicBee is rated one of the best music managers and players available for Windows. It packs features that will WOW you. <br/><br/>We have a dedicated thread for users to share their experience or check reviews from trusted sources.<br/><br/>Start using MusicBee today. You will never go back.</div>"); ?></h4>
            </div>
        </div>
        <div class="hero_img_top">
            <div class="hero_img_wrapper">
                <img data-url="http" src="hero_img/hero-img-review.png">
            </div>
        </div>
    </div>
</section>


<div class="mb_more_top mb_landing_overlay align_center">
    <div class="overlay">
        <div class="sub_content">
            <h4 data-gettext="true"><?= __("Get MusicBee and enhance your music experience"); ?></h4>
            <a data-gettext-id="download-btn" href="downloads" class="btn btn_wireframe btn_wireframe_blue">
                <h3 data-gettext="true"><?= __("Download Now"); ?></h3>
                <p data-gettext-id="download-os"><?= __("For %s"); ?></p>
            </a>
        </div>
    </div>
</div>