<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title data-gettext="true"><? _("MusicBee - The Ultimate Music Manager and Player") ?></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <link rel="apple-touch-icon" href="mb_icon_touch.png">
    <link id="rss-link" rel="alternate" href="rss.xml"
          title="MusicBee updates" type="application/rss+xml"/>

    <link id="maincss" rel="stylesheet" type="text/css" href="mb_main.css">
    <link id="font-awesome" rel="stylesheet" href="font-awesome-bower/font-awesome.css?4.7.0">
</head>
<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->



    <main>

    </main>

    <footer>

    </footer>


</body>
</html>