<nav class="mainmenu" id="main_menu">
    <div class="menu_wrapper">
        <ul class="menu_position menu_left">
            <li class="expand">
                <a href="javascript:void(0)"><i class="fa fa-bars"></i></a>
            </li>
            <li class="logo">
                <a href="http://musicbee.local/en_us/"><img src="http://musicbee.local/public/img/musicbee.png">MusicBee</a>
            </li>
            <li><a href="http://musicbee.local/en_us/downloads/">Download</a></li>
            <li><a href="http://musicbee.local/en_us/addons/">Add-ons</a>
                <ul class="nav_dropdown_sub primary_submenu">
                    <li><a href="http://musicbee.local/en_us/addons/s/?type=1" target=""><i
                            class="fa fa-paint-brush"></i>&nbsp;&nbsp;Skins</a></li>
                    <li><a href="http://musicbee.local/en_us/addons/s/?type=2" target=""><i class="fa fa-plug"></i>&nbsp;&nbsp;Plugins</a>
                    </li>
                    <li><a href="http://musicbee.local/en_us/addons/s/?type=3" target=""><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Visualizer</a>
                    </li>
                    <li><a href="http://musicbee.local/en_us/addons/s/?type=4" target=""><i
                            class="fa fa-arrows-alt"></i>&nbsp;&nbsp;Theater Mode</a></li>
                    <li><a href="http://musicbee.local/en_us/addons/s/?type=5" target=""><i
                            class="fa fa-ellipsis-h"></i>&nbsp;&nbsp;Misc</a></li>
                </ul>
            </li>
            <li><a href="http://musicbee.local/forum/">Forum</a></li>
            <li><a href="http://musicbee.local/en_us/help/faq/">Help</a>
                <ul class="nav_dropdown_sub primary_submenu">
                    <li><a href="http://musicbee.local/en_us/help/faq/" target=""><i class="fa fa-question"></i>&nbsp;&nbsp;FAQ
                        &amp; Help</a></li>
                    <li><a href="http://musicbee.local/en_us/help/api/" target=""><i class="fa fa-code"></i>&nbsp;&nbsp;Developer
                        API</a></li>
                    <li>
                        <hr class="line">
                    </li>
                    <li><a href="http://musicbee.local/en_us/help/release-note/" target=""><i
                            class="fa fa-sticky-note-o"></i>&nbsp;&nbsp;Release Notes</a></li>
                    <li><a href="http://musicbee.local/en_us/help/press/" target=""><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;Press
                        &amp; Media</a></li>
                    <li>
                        <hr class="line">
                    </li>
                    <li><a href="http://musicbee.local/en_us/bug/" target=""><i class="fa fa-bug"></i>&nbsp;&nbsp;Report
                        a bug</a></li>
                    <li><i class="fa fa-wikipedia-w"></i>&nbsp;&nbsp;MusicBee Wiki</li>
                </ul>
            </li>
        </ul>
        <ul class="menu_position menu_right">
            <li class="dashboard">
                <a href="http://musicbee.local/en_us/dashboard/">Dashboard</a></li>
            <li class="member-panel">
                <a href="http://musicbee.local/forum/?action=profile"><img src="usersmall.jpg" class="user_avatar"></a>
                <ul class="nav_dropdown_sub dropdown_right primary_submenu">
                    <li><a href="http://musicbee.local/forum/?action=profile" target="">Hey, avikb</a></li>
                    <li>
                        <hr class="line">
                    </li>
                    <li><a href="http://musicbee.local/en_us/dashboard/#admin_setting" target=""><i
                            class="fa fa-desktop"></i>&nbsp;&nbsp;Web Admin</a></li>
                    <li><a href="http://musicbee.local/forum/?action=admin" target=""><i class="fa fa-comments"></i>&nbsp;&nbsp;Forum
                        Admin</a></li>
                    <li>
                        <hr class="line">
                    </li>
                    <li><a href="http://musicbee.local/en_us/logout/" target=""><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign
                        Out</a></li>
                </ul>
            </li>
            <li class="message_count">
                <a href="http://musicbee.local/forum/?action=pm" class="secondery_nav_menu_button" title="Messages: 0">
                    <span class="message_no"><i class="fa fa-envelope-o"></i></span>
                </a>
            </li>

        </ul>
    </div>
</nav>