<menu></menu>
<div id="main_panel">
    <div class="main_content_wrapper col_1">
        <div class="sub_content_wrapper" id="release-note">
            <div class="box_content" id="">
            <span class="show_info custom info_silverwhite release_note_info">
							<ul class="flat_info_bar">
								<li></li>
								<li><? _("Version %s") ?></li>
								<li><? _("Released on %s") ?></li>
								<li><? _("For %s") ?></li>
								<li><p class="small_info active" data-gettext="true"><? _("Current Release") ?></p></li>
								<li><p class="small_info major" data-gettext="true"><? _("Major Release") ?></p></li>
							</ul>
			</span>
                <div class="info_table_wrap markdownView box">

                </div>
            </div>
        </div>
    </div>
</div>
<script data-url="http" src="highlight/highlight.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        hljs.initHighlightingOnLoad();
    });
</script>