.addon_panel_color {
    background: linear-gradient(135deg,#2F3558,#353E77,rgb(48, 58, 119))no-repeat;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.16);
}

.general_info {
    background: #607D8B;
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
}

.general_info_color {
    background: linear-gradient(to bottom,rgba(29,29,29,0.65) 0,rgb(29, 29, 29) 100%);
    padding: 30px;
}

.general_info_wrap {
    max-width: 1100px;
    margin: 0px auto;
    display: block;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
}
.general_info_text {
    float: left;
    display: block;
    width: 60%;
    margin: 0px;
}

.general_info_icon_wrap {
    float: left;
    width: 40%;
    height: auto;
    margin: 0px;
    display: block;
}

.general_info_icon {
    margin: 0px 0px 40px 0px;
    height: 200px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0px;
}

.general_info_sidenote {
    padding: 5px 10px 5px 15px;
    background: rgba(255, 255, 255, 0.12);
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.06);
    color: #FFDC73;
    box-sizing: border-box;
}

.general_info_downloadlink {
    margin: 15px 5px 5px 0px;
}


.general_info_addon_meta {
    padding: 0px 0px 5px 0px;
}

.general_info_addon_version {
    font-size: 13px;
    font-style: normal;
}

.general_info_addon_meta p{
	margin: 0px;
	color: rgba(255, 255, 255, 0.57);
}

.general_info_short_description p {
	color: #D8D8D8;
}

.addon_similar {
    background: #1D1D1D;
    padding-bottom: 10px;
}

.addon_similar_wrap {
    padding: 1px 10px;
    max-width: 1100px;
    margin: 0px auto;
    margin-bottom: 0px;
}

.addon_similar_wrap h2 {
    color: #fff;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 50px;
}

.screenshot_slider_wrap {
    padding: 0px 0px;
    background: #555;
    background: linear-gradient(135deg,rgb(68, 68, 68),rgb(58, 58, 58), rgb(66, 66, 66),rgb(86, 86, 86))no-repeat;
}


.screenshot_wrapper{
    height: 500px;
}

.screenshot_header_color {
    background: #2D2D2D;
    color: #FFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.readme_markdown_bg{
	background:#1D1D1D;
}

#readme_markdown{
	margin: 0px 15px 30px 15px;
}

div.dark_header {
    background: #252525;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.markdownView h2,  .markdownView h3{
	margin: auto 0px;
}

.markdownView img{
	max-width: 100%;
}

.markdownView pre > code {
    background: initial;
    border: initial;
    border-radius: initial;
}
.markdownView code {
    background: #D4D4D4;
    padding-left: 10px;
    padding-right: 10px;
    color: #572C5F;
    border-radius: 3px;
    border: 1px solid #C7C7C7;
}

pre.prettyprint.prettyprinted {
    word-wrap: break-word;
    overflow: hidden;
}


input.input_submit_addon, textarea.input_submit_addon {
    width: 100%;
    padding: 10px;
}

label .input_label {
    margin: 20px 0px 5px 0px;
    font-size: 15px;
}

.addon_panel_btn{
	margin: 0px;
	box-shadow: none;
}

.addon_dashboard_color {
    background: linear-gradient(135deg,#009688,#008275,rgb(56, 99, 95))no-repeat;
}


.wide_bar {
    display: block;
    width: 100%;
    position: relative;
    background: #FFF;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
}

.wide_bar_vertical {
  display: block;
  width: 100%;
  position: relative;
  background: #FFF;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.18);
  box-sizing: border-box;  
}

.wide_bar ul {
    margin: 0px;
    padding: 0px;
}

.wide_bar li {
    list-style: none;
    text-align: center;
    float: left;
    width: 33.33333333333%;
    padding: 10px;
    box-sizing: border-box;
}

.wide_bar_wrap ul{
    margin:0px;
    padding:0px;
}

.wide_bar_wrap li {
    list-style:none;
}

.wide_bar_wrap li a {
    padding: 15px 20px;
    display: block;
    /* border-bottom: 1px solid #E3E3E3; */
    color: #4CAF50;
    font-size: 13px;
    transition: linear all .1s;
}

.wide_bar_wrap li a:hover {
    background: #DADADA;
    color: #333;
    text-decoration: none;
    box-shadow: inset 5px 0px 0px rgba(0, 0, 0, 0.23);
}

.main_panel_width {
    width: 70%;
    float: left;
}
.addon_list_box {
    margin-bottom: 20px;
    padding: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.sub_panel_width {
    width : 30%;
    float: left;
}

.green_bottombar {
    box-shadow: inset 0px -5px 0px #4CAF50;
}

.blue_bottombar {
    box-shadow: inset 0px -5px 0px #00B0FF;
}

.yellow_bottombar {
    box-shadow: inset 0px -5px 0px #FFA800;
}


select#multipleVer {
    padding: 0px;
}

select#multipleVer option {
    padding: 10px;
}

.main_imgur_upload_body {
    background: #fff;
    height: 400px;
}

.main_mediafire_upload_body {
    background: #fff;
    height: 400px;
}
.main_mediafire_upload_body h3 img {
    height: 25px;
    margin-bottom: -6px;
}

.main_imgur_upload_body h3 img {
    height: 25px;
    margin-bottom: -6px;
}
.float_2 {
    width:30%;
}
a#upload_to_mediafire img {
    width: 20px;
}
input#color {
    height: 40px;
    padding: 0px;
    width: 10%;
    margin: 0px;
    position: relative;
    display: inline-block;
    outline: none;
    float: left;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
}

input#color:checked {
    box-shadow: inset 0px 0px 0px 1px #FFFFFF, inset 0px 0px 0px 2px #000000, 0px 0px 10px 0px rgba(0, 0, 0, 0.62);
    z-index: 1;
}

.addon_secondery_nav{
    background: rgba(29,29,29,0.65);
}

.is-sticky .addon_secondery_nav{
    background: #333;
}

.from_author ul{
    margin: 0px;
    padding: 0px;
}

.from_author li {
    list-style: none;
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 0px;
}

.from_author li .thumb_more {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

.from_author li .title {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
}

.from_author li a {
    text-decoration: none;
    color: #D8D8D8;
}

.from_author li a:hover {
    text-decoration: none;
    color: #ddaa00;
}

.from_author li .cat_type::before {
    content: "Categorized in ";
    font-weight: normal;
    color: #888;
    text-transform: none;
}

.from_author li .cat_type {
    margin: 0px;
    font-size: 11px;
    font-weight: bold;
    color: #CE8F32;
    text-transform: uppercase;
    padding-top: 5px;
}

.more_from_author {
    background: #171717;
}


.screenshot ul {
    padding: 0px;
    margin: 0px;
}
.screenshot ul .screenshot_zoom_click {
    display: inline-block;
    width:25%;
    float: left;
    outline: none;
    border: 0px;
}

.screenshot ul .screenshot_wrapper {
    height: 180px;
    background-size: cover;
    margin: 10px 10px 10px 10px;
    display: block;
    transition: all linear .2s;
    outline: 2px solid rgba(35, 35, 35, 0);
    background-color: rgba(255, 255, 255, 0.08);
}

.screenshot ul .screenshot_wrapper:hover {
    opacity: .7;
    outline: 2px solid;
}

#readme_markdown.markdownView p {
    font-size: 14px;
    color: #949494;
    line-height: 21px;
}
#readme_markdown.markdownView li {
    color: #949494;
}
#readme_markdown.markdownView h2,#readme_markdown.markdownView h1,#readme_markdown.markdownView h3,#readme_markdown.markdownView h4,#readme_markdown.markdownView h5,#readme_markdown.markdownView h6 {
    color: #949494;
}
#readme_markdown.markdownView blockquote {
    background: #333;
}
.more_addon {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.mb_addon_bg .sub_content {
    padding: 40px 20px 40px 20px;
    text-align: center;
    color: #FFFFFF;
}
.search_box {
    margin: 0px 0px 0px 0px;
    text-align: left;
}
.search_box_wrap {
    max-width: 700px;
    margin: 0px auto;
}
.srch.big_search {
    width: 100%;
    background: rgb(26, 29, 30);
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: 100;
}

.search_box_wrap .search_left{
    float:left;
    width: 80%;
}

.search_box_wrap .search_right{
    float:left;
    width: 20%;
}

.search_filter_wrap {
    float:left;
    width:100%;
    margin-top: 20px;
}

.search_filter_wrap .search_filter_cat{
    float:left;
    width:50%;
}


.search_filter_wrap .search_cat_input {
    text-align: left;
    display: block;
    padding: 0px 20px 0px 0px;
}

.search_filter_wrap .search_cat_input_last {
    padding: 0px;
}
.search_filter_wrap .search_cat_input #type, .search_filter_wrap .search_cat_input #order {
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #FFFFFF;
    background: rgb(26, 29, 30);
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    background-position: right 10px top 17px;
    background-repeat: no-repeat;
    padding: 15px 15px;
}

.search_box_wrap p label{
    margin: 0px 0px 10px 0px;
    color: #9C9C9C;
    font-weight: bold;
    font-size: 15px;
}

.search_box_outer_wrap {
    background: #161A1B;
}
.addon_cat_header .addon_similar_wrap {
    padding-top: 20px;
}


.secondery_nav_color {
    background: #161A1B;
}

.addon_cat_header h2 {
    margin-left: 0px;
    margin-top: 5px;
}


.addon_list_box li {
    list-style: none;
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 0px;
}

.addon_list_box li .addon_list_box_wrapper {
 margin: 10px;
 padding: 10px;
 transition: all linear .1s;
 outline: 1px solid rgba(255, 255, 255, 0);
}

.addon_list_box li .addon_list_box_wrapper a {
    position:relative;
}

.addon_list_box li .addon_list_box_wrapper:hover {
    outline: 1px solid rgba(255, 153, 0, 0.5);
    background: rgba(255, 255, 255, 0.03);
}

.addon_list_box .love {
    opacity: 0;
    margin: 0px;
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    font-size: 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    transition: linear all .2s;
}

.addon_list_box li .addon_list_box_wrapper:hover .love {
    opacity: 1;
}

.addon_list_box li .addon_list_box_wrapper:hover .thumb_more {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    filter: blur(7px);
    overflow: hidden;
}

.addon_list_box .love .love_count {
    margin: 0px;
    font-size: 30px;
    display: inline-block;
    padding: 0px 0px 0px 10px;
}

.addon_list_box p.author {
    margin: 5px 0px 0px 0px;
    color: #AFAFAF;
}

.addon_list_box .addon_list_box_info{
    box-sizing: border-box;
}


.addon_list_box ul{
    margin: 0px;
    padding: 0px;
}

.addon_list_box li .thumb_more {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    outline: 1px solid rgba(255, 255, 255, 0.04);
    background-color: rgba(255, 255, 255, 0.03);
    transition: linear all .2s;
}

.addon_list_box li .title {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
}

.addon_list_box li a {
    text-decoration: none;
    color: #D8D8D8;
    display: block;
}

.addon_list_box li i {
    color: #FF5200;
    text-shadow: 0px 0px 10px #690000;
}

.license_attr p {
    color: #4A463A;
}

.addon_list_box li a:hover {
    text-decoration: none;
    color: #ddaa00;
}

.no_result {
    text-align: center;
    margin: 30px 0px 180px 0px;
}

select#multipleVer {
    background-image: none !important;
}
button.search_btn {
    margin: 0px 0px 0px 0px;
    padding: 14px 15px;
    border-width: 2px;
    border-left: none;
    box-sizing: border-box;
    float: left;
    border-radius: 0px;
    border-color: rgba(255, 255, 255, 0.08);
    width: 100%;
}
button.search_btn:hover {
    margin: 0px 0px 0px 10px;
    border-width: 2px;
    box-sizing: border-box;
    border-radius: 0px;
}

.dashboard_margin_wrapper_inline {
    margin: 30px auto;
    box-shadow: none;
    float: none;
}

.blur_content_overlay {
    -webkit-filter: blur(2px);
}
.blur_content_overlay::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}


/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.96;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-counter {
    display: none;
}

img.mfp-img {
    padding: 0px 0 0px;
}

